{% set menu_active = 'configuraciones' %}
{% set extends = 'admin.html.twig' %}
{% set icon = 'fa fa-users' %}

{% embed '@PositibeCore/Grid/show.html.twig' %}
    {% block actions %}
        <a href="{{ path('homepage', { '_switch_user': user.username }) }}"
           class="btn btn-primary btn-sm">
            <i class="fa fa-user-secret"></i> Suplantar
        </a>
        {{ parent() }}
    {% endblock %}
    {% block content_body %}
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-avatar">
                        <img class="rounded-circle img-responsive"
                             src="{{ display_image(user.avatar, {'imagine_filter':'image_thumbnail', 'default': asset('bundles/positibemedia/images/avatar.png')}) }}"
                             alt="{{ user }}">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">{{ user.getName() }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">@{{ user.username }}</h6>

                        <a href="mailto:{{ user.email }}" class="card-link">{{ user.email }}</a>

                    </div>
                </div>
            </div>
            <div class="col-9">
                <a href="{{ download_file(app.user.avatar) }}" title="{{ app.user }}" class=""><i
                            class="fa fa-download"></i> Avatar
                </a>


                <h4>{{ 'user.show.roles' | trans({}, 'messages') }}</h4>

                <p>{{ user.roles | join(', ') }}</p>

                <h4>{{ 'user.show.sign' | trans({}, 'messages') }}</h4>

                <blockquote class="blockquote">
                    {{ user.getSign() | raw }}
                </blockquote>
            </div>
        </div>
    {% endblock %}
{% endembed %}

{#{% extends '@PositibeUser/admin_layout.html.twig' %}#}

{#{% block title %}Usuarios{% endblock %}#}
{#{% block subtitle %}{{ user.username }}{% endblock %}#}
{#{% set menu_active = 'configuraciones' %}#}
{#{% set content_menu = 'user' %}#}

{#{% block breadcrumb_list %}#}
    {#<li class="breadcrumb-item">#}
        {#<a href="{{ path('positibe_user_index') }}">Usuarios</a>#}
    {#</li>#}
    {#<li class="breadcrumb-item">#}
        {#{{ user.username }}#}
    {#</li>#}
{#{% endblock %}#}

{#{% block content -%}#}
    {#<div class="card-header white">#}
        {#<div class="card-title text-muted text-uppercase text-right">#}
            {#<div class="card-title-caption">#}
                {#<h4><i class="fa fa-users"></i> Usuarios#}
                    {#<small>{{ user.username }}</small>#}
                {#</h4>#}
            {#</div>#}
            {#<div class="card-title-actions">#}
                {#<a href="{{ path('positibe_user_index') }}"#}
                   {#name="back" class="btn btn-default btn-sm"><i class="fa fa-angle-left"></i> Atras#}
                {#</a>#}

                {#<a href="{{ path('positibe_user_update', { 'id': user.id }) }}"#}
                   {#class="btn btn-default btn-sm">#}
                    {#<i class="fa fa-edit"></i> Editar#}
                {#</a>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<div class="card-block">#}
        {#<div class="row">#}
            {#<div class="col-3">#}
                {#<div class="card">#}
                    {#<div class="card-avatar">#}
                        {#<img class="rounded-circle img-responsive"#}
                             {#src="{{ display_image(user.avatar, {'imagine_filter':'image_thumbnail', 'default': asset('bundles/positibemedia/images/avatar.png')}) }}"#}
                             {#alt="{{ user }}">#}
                    {#</div>#}
                    {#<div class="card-block">#}
                        {#<h4 class="card-title">{{ user.getName() }}</h4>#}
                        {#<h6 class="card-subtitle mb-2 text-muted">@{{ user.username }}</h6>#}

                        {#<a href="mailto:{{ user.email }}" class="card-link">{{ user.email }}</a>#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-9">#}
                {#<a href="{{ download_file(app.user.avatar) }}" title="{{ app.user }}" class=""><i class="fa fa-download"></i> Avatar</a>#}


                {#<h4>{{ 'user.show.roles' | trans({}, 'messages') }}</h4>#}

                {#<p>{{ user.roles | join(', ') }}</p>#}

                {#<h4>{{ 'user.show.sign' | trans({}, 'messages') }}</h4>#}

                {#<blockquote class="blockquote">#}
                    {#{{ user.getSign() | raw }}#}
                {#</blockquote>#}
            {#</div>#}
        {#</div>#}

    {#</div>#}
{#{% endblock -%}#}
