{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form) }}
<div class="card">
    <div class="card-header white">
        <div class="card-title text-muted text-uppercase text-right">
            <div class="card-title-caption">
                <h4><i class="fa fa-asterisk"></i> Cambio de contraseña
                </h4>
            </div>
            <div class="card-title-actions">
                <a href="{{ app.request.server.get('HTTP_REFERER') }}"
                   name="back" class="btn btn-default btn-sm"><i class="fa fa-angle-left"></i> Atras
                </a>
                <a href="{{ app.request.server.get('REQUEST_URI') }}" class="btn btn-default btn-sm "><i
                            class="fa fa-reply"></i> Resetear
                </a>
                <button class="btn btn-primary btn-sm" type="submit"><i
                            class="fa fa-check"></i> {{ 'profile.edit.submit'|trans }}</button>
            </div>
        </div>
    </div>

    <div class="card-block">
        {{ form_widget(form) }}
    </div>
    <div class="card-footer card-button text-right">
        <a href="{{ app.request.server.get('HTTP_REFERER') }}" class="btn btn-default">Cancelar</a>
        <button class="btn btn-primary">{{ 'change_password.submit' | trans }}</button>
    </div>
</div>

{{ form_end(form) }}
